.navegador {
    text-align: center;
    background-color: rgb(97, 97, 97);
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 7px;
    cursor: pointer;
    width: 15%;
}

.navegador:hover{
    background-color: rgb(117, 116, 116);
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 7px;
    cursor: pointer; 
}
